---
import {Hero} from "../components/marketing/Hero";
import Layout from "../layouts/Layout.astro";
import Features from "../components/marketing/Features";
import HeroSection from "../components/marketing/HeroSection";
---

<Layout>
  <main>
    <div class="min-h-screen grid place-items-center">
      <!-- <Hero client:load heading="Forkful" description="Forkful is a platform for creating and sharing recipes." button={{ text: "Get Started", url: "/auth/login" }} /> -->
      <HeroSection client:load />
      <Features client:load />
    </div>
  </main>
</Layout>
